{% extends "leaderboard/base.html" %}

{% load static %}
{% load leaderboard_extras %}

{% block title %}Constructor Standings - {{ current_championship.name }}{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-3 mx-0" style="width: 100%;">
    <div class="align-middle fw-lighter fs-1">Constructor Standings</div>
    <div class="col-xl wrap-for-mobile">
        <table class="table table-striped leaderboard-table table-borderless" style="font-size: 1rem;">
            <colgroup>
                <col style="min-width: fit-content;">
                <col style="min-width: fit-content;">
                <col style="min-width: fit-content;">
                <col style="min-width: fit-content;">
                <col style="min-width: fit-content;">
            </colgroup>
            <thead class="table-white">
                <tr>
                    <th scope="col" class="leaderboard-header">#</th>
                    <th scope="col" class="leaderboard-header" style="padding-left: 0;"></th>
                    <th scope="col" class="leaderboard-header"></th>
                    <th scope="col" class="leaderboard-header">Team</th>
                    <th scope="col" class="leaderboard-header">Nationality</th>
                    <th scope="col" class="leaderboard-header">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team, score, delta in constructors_standings %}
                <tr class="leaderboard-row">
                    <td class="align-middle fw-lighter mx-1" style="padding-right: 0.35rem; text-align: end">{{forloop.counter}}</td>
                    <td class="align-middle fw-lighter" style="padding-left: 0;">
                        {% if delta > 0 %}
                        <img src="{% static 'leaderboard/arrow-down.svg' %}" style="height: 1rem; width: 0.85rem;"></img>
                        <span style="color: red;">{{ delta|abs_value }}</span>
                        {% elif delta < 0 %}
                        <img src="{% static 'leaderboard/arrow-up.svg' %}" style="height: 1rem; width: 0.85rem;"></img>
                        <span style="color: green;">{{ delta|abs_value }}</span>
                        {% endif %}
                    </td>
                    <td class="align-middle pe-0" style="height: 2rem;">
                        <span class="team-color-bar" style="background-color: {{team.color}};"></span>
                    </td>
                    <td class="align-middle ps-2" style="height: 100%;">{{team.full_name}}</td>
                    <td class="align-middle fw-lighter">
                        <i class="{{ team.country.flag_css }} me-1"></i>{{team.country.ioc_code}}
                    </td>
                    <td class="align-middle fw-lighter">{{score}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}