{% extends "leaderboard/base.html" %}

{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'leaderboard/stats.css' %}">{% endblock %}

{% block title %}Pace - {{ current_championship.name }}{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-3 mx-0" style="width: 100%;">
    <div class="fw-lighter fs-1">Stats</div>
    <div class="col mw-100">
        {% include "leaderboard/components/stats-table.html" with table=table %}
        {% comment %} Race Classification {% endcomment %}
        <div class="stats-row">
            <div class="stats-container">
                <span class="fs-3" style="margin-left: 0.5rem;">Race Classification</span><span class="fs-6 fw-light" style="margin-left: 0.5rem;">(Ordered by Drivers' Standings)</span>
                {% include "leaderboard/components/stats-table.html" with table=tables.finish %}
            </div>
        </div>
        {% comment %} Quali Classification {% endcomment %}
        <div class="stats-row">
            <div class="stats-container">
                <span class="fs-3" style="margin-left: 0.5rem;">Qualifying Classification</span><span class="fs-6 fw-light" style="margin-left: 0.5rem;">(Ordered by Drivers' Standings)</span>
                {% include "leaderboard/components/stats-table.html" with table=tables.quali %}
            </div>
        </div>
        {% comment %} Pace {% endcomment %}
        <div class="stats-row">
            <div class="stats-container">
                <div class="fs-3" style="margin-left: 0.5rem;">Pace</div>
                {% include "leaderboard/components/stats-table.html" with table=tables.pace %}
            </div>
        </div>
        {% comment %} Overtakes {% endcomment %}
        <div class="stats-row">
            <div class="stats-container">
                <span class="fs-3" style="margin-left: 0.5rem;">Overtakes</span>
                {% include "leaderboard/components/stats-table.html" with table=tables.overtakes %}
            </div>
        </div>

        <div class="d-flex justify-content-around stats-row flex-wrap">
        {% comment %} Best Quali/Finish {% endcomment %}
        <div class="stats-container d-flex flex-column align-items-center" style="width: fit-content">
            <span class="fs-3 mx-2">Best Results</span>
            <table class="table-stats table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Race</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Quali</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver, best_race, best_quali  in stats_table.1.best_results %}
                    <tr class="leaderboard-row">
                        <td class="align-middle">{{driver.name}}</td>

                        {% comment %}  Race  {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                            {% if best_race.finish_position %}
                                <div class="ms-1 pace-item 
                                {% if best_race.finish_position == 1%}
                                    finish-first
                                {% elif best_race.finish_position == 2%}
                                    finish-second
                                {% elif best_race.finish_position == 3%}
                                    finish-third
                                {% elif best_race.finish_position <= 10%}
                                    finish-points
                                {% else %}
                                    finish-no-points
                                {% endif %}
                                ">
                                {{best_race.finish_position}}</div>
                            {% else %}
                                <div class="ms-1 pace-item finish-none">
                                -
                                </div>
                            {% endif %}
                            </div>
                        </td>

                        {% comment %} Quali {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                            {% if best_quali.qualifying_position %}
                                <div class="ms-1 pace-item 
                                {% if best_quali.qualifying_position == 1%}
                                    finish-first
                                {% elif best_quali.qualifying_position == 2%}
                                    finish-second
                                {% elif best_quali.qualifying_position == 3%}
                                    finish-third
                                {% elif best_quali.qualifying_position <= 10%}
                                    finish-points
                                {% else %}
                                    finish-no-points
                                {% endif %}
                                ">
                                {{best_quali.qualifying_position}}</div>
                            {% else %}
                                <div class="ms-1 pace-item finish-none">
                                -
                                </div>
                            {% endif %}
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} Race wins {% endcomment %}
        <div class="stats-container d-flex flex-column align-items-center" style="width: fit-content">
            <span class="fs-3 mx-2">Race Wins</span>
            <table class="table-stats table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Wins</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver, race_wins  in stats_table.1.race_wins.entries %}
                    <tr class="leaderboard-row">
                        <td class="align-middle">{{driver.name}}</td>

                        {% comment %} Quali {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item 
                                {% if race_wins == stats_table.1.race_wins.first %}
                                    finish-first
                                {% elif race_wins == stats_table.1.race_wins.second %}
                                    finish-second
                                {% elif race_wins == stats_table.1.race_wins.third %}
                                    finish-third
                                {% elif race_wins > 0 %}
                                    finish-points
                                {% else %}
                                    finish-no-points
                                {% endif %}
                                ">
                                {{race_wins}}</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} Consecutive {% endcomment %}
        <div class="stats-container d-flex flex-column align-items-center" style="width: fit-content">
            <span class="fs-3 mx-2">Back-to-Back</span>
            <table class="table-stats table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Wins</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Podiums</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Points</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row  in stats_table.1.consecutive %}
                    <tr class="leaderboard-row">
                        <td class="align-middle">{{row.driver.name}}</td>

                        {% comment %} Wins {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.wins.value == row.wins.first %}
                                finish-first
                                {% elif row.wins.value == row.wins.second %}
                                finish-second
                                {% elif row.wins.value == row.wins.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.wins.value}}</div>
                            </div>
                        </td>
                        {% comment %} Podiums {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.podiums.value == row.podiums.first %}
                                finish-first
                                {% elif row.podiums.value == row.podiums.second %}
                                finish-second
                                {% elif row.podiums.value == row.podiums.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.podiums.value}}</div>
                            </div>
                        </td>
                        {% comment %} Points {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.points.value == row.points.first %}
                                finish-first
                                {% elif row.points.value == row.points.second %}
                                finish-second
                                {% elif row.points.value == row.points.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.points.value}}</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} Before First {% endcomment %}
        <div class="stats-container d-flex flex-column align-items-center" style="width: fit-content">
            <span class="fs-3 mx-2">Before First Win</span>
            <table class="table-stats table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Podiums</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Points</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Races</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row  in stats_table.1.before_first_win %}
                    <tr class="leaderboard-row">
                        <td class="align-middle">{{row.driver.name}}</td>

                        {% comment %} Podiums {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.podiums.value == row.podiums.first %}
                                finish-first
                                {% elif row.podiums.value == row.podiums.second %}
                                finish-second
                                {% elif row.podiums.value == row.podiums.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.podiums.value}}</div>
                            </div>
                        </td>
                        {% comment %} Points {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.points.value == row.points.first %}
                                finish-first
                                {% elif row.points.value == row.points.second %}
                                finish-second
                                {% elif row.points.value == row.points.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.points.value}}</div>
                            </div>
                        </td>
                        {% comment %} Races {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.races.value == row.races.first %}
                                finish-first
                                {% elif row.races.value == row.races.second %}
                                finish-second
                                {% elif row.races.value == row.races.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.races.value}}</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} Consecutive Without {% endcomment %}
        <div class="stats-container d-flex flex-column align-items-center" style="width: fit-content">
            <span class="fs-3 mx-2">Most Between Wins</span>
            <table class="table-stats table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Podiums</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Points</div>
                        </th>
                        <th scope="col" class="leaderboard-header">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Races</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row  in stats_table.1.consecutive_without %}
                    <tr class="leaderboard-row">
                        <td class="align-middle">{{row.driver.name}}</td>

                        {% comment %} Podiums {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.podiums.value == row.podiums.first %}
                                finish-first
                                {% elif row.podiums.value == row.podiums.second %}
                                finish-second
                                {% elif row.podiums.value == row.podiums.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.podiums.value}}</div>
                            </div>
                        </td>
                        {% comment %} Points {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.points.value == row.points.first %}
                                finish-first
                                {% elif row.points.value == row.points.second %}
                                finish-second
                                {% elif row.points.value == row.points.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.points.value}}</div>
                            </div>
                        </td>
                        {% comment %} Races {% endcomment %}
                        <td class="align-middle pace-cell">
                            <div class="justify-content-center d-flex">
                                <div class="ms-1 pace-item      
                                {% if row.wins.value == row.wins.first %}
                                finish-first
                                {% elif row.wins.value == row.wins.second %}
                                finish-second
                                {% elif row.wins.value == row.wins.third %}
                                finish-third
                                {% else %}
                                finish-points
                                {% endif %}
                                ">{{row.wins.value}}</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}