{% extends "leaderboard/base.html" %}

{% block title %}Pace - {{ current_championship.name }}{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-3 mx-0" style="width: 100%;">
    <div class="fw-lighter fs-1">Stats</div>
    <div class="col">
        {% comment %} Race Classification {% endcomment %}
        <div class="stats-container">
            <span class="fs-3" style="margin-left: 0.5rem;">Race Classification</span>
            <table class="table table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    {% for race in race_table.0 %}
                        <col width="4rem">
                    {% endfor %}
                    <col width="4rem">
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header"></th>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        {% for race in race_table.0 %}
                        <th scope="col" class="leaderboard-header px-0" >
                            <div class="d-flex justify-content-center" style="width: 100%;">{{ race.track.abbreviation }}</div>
                        </th>
                        {% endfor %}
                        <th scope="col" class="leaderboard-header" style="padding-right: 0 !important;">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Average</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver, driver_dict in race_table.1 %}
                    <tr class="leaderboard-row">
                        <td class="align-middle fw-lighter">{{forloop.counter}}</td>
                        <td class="align-middle">{{driver.name}}</td>
                        {% for entry in driver_dict.entries %}
                            <td class="align-middle pace-cell">
                            {% if entry %}
                                <div class="pace-item 
                                {% if entry.dnf%}
                                    finish-dnf
                                {% elif entry.finish_position == 1%}
                                    finish-first
                                {% elif entry.finish_position == 2%}
                                    finish-second
                                {% elif entry.finish_position == 3%}
                                    finish-third
                                {% elif entry.finish_position <= 10%}
                                    finish-points
                                {% else %}
                                    finish-no-points
                                {% endif %}
                                ">
                                {% if entry.dnf%}
                                DNF
                                {% else %}
                                {{entry.finish_position}}{% endif %}</div>
                            {% else %}
                                <div class="pace-item finish-none">
                                -
                                </div>
                            {% endif %}
                            </td>
                        {% endfor %}

                        <td class="align-middle pace-average">
                        {% if driver_dict.average_finish %}
                            <div class="pace-item 
                            {% if driver_dict.average_finish < 2 %}
                                finish-first
                            {% elif driver_dict.average_finish < 3 %}
                                finish-second
                            {% elif driver_dict.average_finish < 4 %}
                                finish-third
                            {% elif driver_dict.average_finish <= 8 %}
                                finish-points
                            {% else %}
                                finish-no-points
                            {% endif %}
                            ">
                            {{driver_dict.average_finish}}</div>
                        {% else %}
                            <div class="pace-item finish-none">
                            -
                            </div>
                        {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} Quali Classification {% endcomment %}
        <div class="stats-container">
            <span class="fs-3" style="margin-left: 0.5rem;">Qualifying Classification</span>
            <table class="table table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    {% for race in race_table.0 %}
                        <col width="4rem">
                    {% endfor %}
                    <col width="4rem">
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header"></th>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        {% for race in race_table.0 %}
                        <th scope="col" class="leaderboard-header px-0" >
                            <div class="d-flex justify-content-center" style="width: 100%;">{{ race.track.abbreviation }}</div>
                        </th>
                        {% endfor %}
                        <th scope="col" class="leaderboard-header" style="padding-right: 0 !important;">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Average</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver, driver_dict in race_table.1 %}
                    <tr class="leaderboard-row">
                        <td class="align-middle fw-lighter">{{forloop.counter}}</td>
                        <td class="align-middle">{{driver.name}}</td>
                        {% for entry in driver_dict.entries %}
                            <td class="align-middle pace-cell">
                            {% if entry %}
                                <div class="pace-item 
                                {% if entry.qualifying_position == 1%}
                                    finish-first
                                {% elif entry.qualifying_position == 2%}
                                    finish-second
                                {% elif entry.qualifying_position == 3%}
                                    finish-third
                                {% elif entry.qualifying_position <= 10%}
                                    finish-points
                                {% else %}
                                    finish-no-points
                                {% endif %}
                                ">
                                {{entry.qualifying_position}}</div>
                            {% else %}
                                <div class="pace-item finish-none">
                                -
                                </div>
                            {% endif %}
                            </td>
                        {% endfor %}

                        <td class="align-middle pace-average">
                        {% if driver_dict.average_quali %}
                            <div class="pace-item 
                            {% if driver_dict.average_quali < 2 %}
                                finish-first
                            {% elif driver_dict.average_quali < 3 %}
                                finish-second
                            {% elif driver_dict.average_quali < 4 %}
                                finish-third
                            {% elif driver_dict.average_quali <= 8 %}
                                finish-points
                            {% else %}
                                finish-no-points
                            {% endif %}
                            ">
                            {{driver_dict.average_quali}}</div>
                        {% else %}
                            <div class="pace-item finish-none">
                            -
                            </div>
                        {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} Pace {% endcomment %}
        <div class="stats-container">
            <div class="fs-3" style="margin-left: 0.5rem;">Pace</div>
            <table class="table table-borderless stats-pace-table" style="font-size: 1rem;">
                <colgroup>
                    <col>
                    <col>
                    {% for race in race_table.0 %}
                        <col width="4rem">
                    {% endfor %}
                    <col width="4rem">
                </colgroup>
                <thead class="table-white">
                    <tr>
                        <th scope="col" class="leaderboard-header"></th>
                        <th scope="col" class="leaderboard-header">Driver</th>
                        {% for race in race_table.0 %}
                        <th scope="col" class="leaderboard-header px-0" >
                            <div class="d-flex justify-content-center" style="width: 100%;">{{ race.track.abbreviation }}</div>
                        </th>
                        {% endfor %}
                        <th scope="col" class="leaderboard-header" style="padding-right: 0 !important;">
                            <div class="d-flex justify-content-center" style="width: 100%; ">Average</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver, driver_dict in race_table.1 %}
                    <tr class="leaderboard-row">
                        <td class="align-middle fw-lighter">{{forloop.counter}}</td>
                        <td class="align-middle">{{driver.name}}</td>
                        {% for race_pace in driver_dict.pace %}
                            <td class="align-middle pace-cell">
                            {% if race_pace %}
                                <div class="pace-item 
                                {% if race_pace >= 85%}
                                    pace-great
                                {% elif race_pace >= 75%}
                                    pace-good
                                {% elif race_pace >= 60%}
                                    pace-high-mid
                                {% elif race_pace >= 40%}
                                    pace-low-mid
                                {% else %}
                                    pace-bad
                                {% endif %}
                                ">
                                {{race_pace}}</div>
                            {% else %}
                                <div class="pace-item pace-none">
                                -
                                </div>
                            {% endif %}
                            </td>
                        {% endfor %}

                        <td class="align-middle pace-average">
                        {% if driver_dict.average_pace %}
                            <div class="pace-item 
                            {% if driver_dict.average_pace >= 85%}
                                pace-great
                            {% elif driver_dict.average_pace >= 75%}
                                pace-good
                            {% elif driver_dict.average_pace >= 60%}
                                pace-high-mid
                            {% elif driver_dict.average_pace >= 40%}
                                pace-low-mid
                            {% else %}
                                pace-bad
                            {% endif %}
                            ">
                            {{driver_dict.average_pace}}</div>
                        {% else %}
                            <div class="pace-item pace-none">
                            -
                            </div>
                        {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}