{% extends "leaderboard/base.html" %}
{% load leaderboard_extras %} {% load static %} {% block title %}Tracks{% endblock %} {% block content %}
<div class="d-flex flex-column align-items-center" style="width: 100%">
    <div class="col-8">
        <div class="d-flex align-items-center">
            <i class="flag3x {{ track.country.flag_css }}"></i>
            <span class="align-middle fw-lighter fs-1 ms-2">{{track.name}}</span>
        </div>

        <div class="d-flex track-box justify-content-center">
            {% if track.detail_image %}
            <div id="track-map" class="d-flex flex-column p-3" style="flex-basis: 60%">
                <img src="{{ track.detail_image.url }}" alt="" style="width: 100%" />
            </div>
            {% endif %}
            {% if track.detail_image %}
            <div id="track-detail" class="p-3" style="flex-basis: 40%">
                {%else%}
                <div id="track-detail" class="p-3" style="flex-basis: auto%">
                    {% endif %}
                    <div>
                        <div class="fs-6 fw-light">Last Race</div>
                        <div id="last-race" class="h3">
                            {% if last_race %}
                            <a href="{% url 'match_history' last_race.id %}">
                                {{ last_race.championship.name }} Round {{ last_race.championship_order }}
                            </a>
                            {% else %} N/A {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="fs-6 fw-light">Last Podium</div>
                        <div id="podium" class="">
                            {% if last_race %} {% for entry in last_race.podium %}
                            <div class="d-flex justify-content-between align-items-end">
                                {% if entry %}
                                {% if not entry.bot %}
                                <div class="me-2 h3">{{entry.driver.name}}</div>
                                <div class="h4">({{ entry.team.name }})</div>
                                {% else %}
                                <div class="me-2 h3">Bot</div>
                                <div class="h4">(Team Dutcho)</div>
                                {% endif %}
                                {% else %}
                                <div class="me-2 h3">N/A</div>
                                {% endif %}
                            </div>
                            {% endfor %} {% else %} <div class="h3">N/A</div> {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="fs-6 fw-light">Fastest Laps</div>
                        <div id="podium" class="">
                            {% if last_race %} {% for entry in track.fastest_laps|slice:":3" %}
                            <div class="d-flex justify-content-between align-items-end mb-2">
                                <div class="m-0 d-flex align-items-end">
                                    <span class="h3 m-0 me-2">{{ entry.driver.name }}</span>
                                    <a href="{% url 'match_history' last_race.id %}" class="fs-6 m-0">{{ entry.race.championship.name }} R{{ entry.race.championship_order }}</a>
                                </div>
                                <div class="m-0 h4 d-flex align-items-end">
                                    {% if entry.best_lap_time %} {{ entry.best_lap_time|duration }} {% else %} -:--.--- {% endif %}
                                </div>
                            </div>
                            {% endfor %} {% else %} <div class="h3">N/A</div> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}