@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    font-family: 'Roboto', sans-serif !important;
    --bs-primary-rgb: 230,0,0; 
}

.team-color-bar {
    display: inline-block;
    width: 5px;
    height: 28px;
    border-radius: 2px;
}

.leaderboard-table {
    --bs-table-striped-bg: #00000005;
}

.leaderboard-header {
    font-weight: 300;
    font-size: 0.9rem;
}

.leaderboard-row {
    height: 3rem;
}

#navigation .nav-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

#navigation .nav-link:hover {
    text-decoration: underline;
}

#championship-select {
    color: black;
}

.nav-selected {
    background-color: rgb(var(--bs-primary-rgb));
    color: white;
}