{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard/global.css' %}" />   
</head>
<body>
    <div>
    {% for championship in championships %}
        <div>
            <a href={% url 'drivers_standings' championship.id %}>{{ championship.name }} Driver's Standings</a>
        </div>
    {% endfor %}
    </div>
</body>
</html>